.hero{
    height:100vh;
    display:flex;
    background:linear-gradient(white 0%,lightpink 100%);
}
.hero-left{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 150px;
    line-height:1.1;
}
.hero-left h2{
    color:#090909;
    font-size:32px;
    font-weight:600;

}
.hero-left p{
    color:#171717;
    font-size:24px;
    font-weight:600;
    line-height: 0.5;

}
.hero-hand-icon{
    display:flex;
    align-items: center;
    gap:20px;
}
.hero-hand-icon img{
    width:105px;
}
.hero-latest-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    width:250px;
    height:50px;
    border-radius:70px;
    background:#ff4141;
    color:white;
    font-size:22px;
    font-weight:500;
}
.hero-right{
    flex:1;
    display:flex;
    align-items:center;
    height:auto;
}
.hero-right img{
    height:600px;
}
